<!DOCTYPE html>
<html lang="en">
<head>
    <title>首页</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/index">首页</a>
            </li>
        </ul>
    </nav>
    <div class="jumbotron">
        <center>
            <h1 class="display3">欢迎访问学军中学智能电子图书馆</h1>
            <p>{{time}}</p>
            <p>
                {{'学军中学智能电子图书馆致力于为学军学子提供最优质的借阅书籍和方便的借还书流程，以便让学生根据自身的学习程度自主安排学习进度'}}
            </p>
            <form method="post">
                <input type="button" value="借书&还书" class="btn btn-outline-primary btn-lg btn-block" style="font-size:50px;font-weight: 1000;" onclick="location.href=('/')">
            </form>
        </center>
    </div>
</body>
</html>
